

body{ 
    padding: 0px;
    margin: 0;
    background-image: linear-gradient(150deg,#FAF5FF,#EFF6FF,#FDF2F8);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top:0;
    background-color: white;
    margin-bottom: 100px;
    font-family: sans-serif;
    margin-top: -10px;
    padding: 0px 50px;
    height: 50px;
    box-shadow: 0px 3px rgba(109, 104, 104, 0.24);
}
nav .img{
    margin-right: 10px;
    background-image: linear-gradient(150deg,#AD46FF,#F6339A,#2B7FFF );
    width: 55px;
    height: 45px;
    border-radius:15px;
    display: inline-flex;
    justify-content: center;
}
nav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
     display: flex;
    align-self: center;

}
.main_name{
  font-size: 20px;

  flex-grow: 1;
  font-family: sans-serif;
  display: inline-flex;
  align-content: center;
background-image: linear-gradient(90deg,#9810FA,#E60076);
background-clip: text;
color: transparent;
align-self: center;
}
.icon{
    margin-left:30px;
    display: flex;
}
.icon .img{
    width: 40px;
    height: 40px;
}
.icon img{
    height: 25px;
}
nav ul {
    display: flex;
    list-style-type: none;   
    align-items: center;
    margin-right: 20px;
}
nav a{
    display: flex;
    text-decoration-line: none;
    color: black ;
    display: flex;
    margin-right: 30px;
   align-items: center;
    width: 80px;
    
}
nav .user_img{
    margin-left: 15px;
}

.logout ,.user{
    background-image:linear-gradient(90deg,#AD46FF,#F6339A);
    width: 105px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    color: #FFFFFF;
}
nav .logout{
    margin-left: -50px;
    width: 105px;
}
.links .notice{
    display: flex;
}

.links .notice a{
    margin-right: -50px;
}
.links .notice p{
    font-size: 12px;
    transform: translatex(-20px);
    transform: translateY(-10px);


}
.links a img{
    height: 25px;
}
.add_post{
    display: flex;
}
.add_post .user{
    height: 80px;
}

.back{
    background-image:linear-gradient(90deg,#C27AFF,#F6339A,#51A2FF);

    height: 200px;
    border-radius: 20px 20px 0 0;
}
.profile_detailes{
    padding: 15px;
}
.img_profile{
    display: flex;
    justify-content: space-between;
}
.img_profile .img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 20px;
    border: 5px solid white;
    transform: translateY(-50px);
}
.img_profile a{
     border:1px outset rgb(226, 225, 225);
     box-shadow:  1px 1px  white;
     background: none;
     display: flex;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     margin-top: 10px;
     align-items: center;
     justify-content: center;
     box-shadow: 0px 2px 5px #8d8484;
    border: none;

}
.img_profile a img{
    width: 40px;
    height: 40px;
   
}
.profile{
    display: inline-flexbox;
    justify-self: center;
    width: 55%;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px #8d8484;
    border-radius:20px 20px 10px 10px;
}
.descripe{
    margin-top: -55px;
    font-family: sans-serif;
}
.posts_nom{
    display: inline-flex;
    font-size: 20px;
    font-weight: bolder;
}
.btns{
    display: flex;
    justify-content: space-between;
}
.btns a{
    display: block;
    width:90% ;
}
.Editbtn{
    width: 90%;
    height: 40px;
    border-radius: 15px;
    background-image:linear-gradient(90deg,#AD46FF,#F6339A);
    font-size: 20px;
   color: white;
   border: none;
}
.img_profile a  img {
    width: 30px;
    height: 30px;

}
.Share{
    border-radius: 15px;
    height: 40px;
    width: 25%;
    border: none;
}

.links_add{
    width: 55%;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px #8d8484;
    height: 50px;
    align-items: center;
    border-radius: 10px;
}
.links_add button{
    width: 210px;
    height: 35px;
    border-radius: 10px;
}
.Postsbtn{
    background-image:linear-gradient(90deg,#AD46FF,#F6339A);
    margin-left: 10px;
    border: none;
    color: #FFFFFF;
}
.Mediabtn,.Likesbtn{
    border: none;
    background: none;
    color: #4A5565;
}



.profile_descripe2{
    display: flex;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    align-self: center;
    margin-left: 20px;

}
.profile_descripe{
    display: flex;
    justify-content: space-between;
    
}
.email{
    margin-top: -1px;

}
.created_at{
    margin-top: -20px;
}
.options{
    display: flex;
    justify-content: center;
    margin-right: 20px;
    border: none;
    background:none;
}
.options:hover{
    cursor: pointer;
}

.list{
    width: 150px;
    height: 100px;
    background-color: white;
    border:none;
        box-shadow: 0px 2px 5px #8d8484;

    border-radius: 10px;
    transform: translateY(-70px);
    display: block;
    justify-self: end;
    margin-right: 20px;
    padding: 10px;
    display: none;
    z-index: 5;
}
.list .Edit,.list .Delete,.list .Share{
    display: flex;
    margin-bottom: -20px;
    text-decoration-line: none;
}
.list img{
    margin-right: 5px;
}
.list .Delete {
    background: none;
    border: none;
    color: red;
}
.list .Delete:hover {

cursor: pointer;
}

.list .Share img{
    width: 20px;
    height: 20px;
}
.commentcontainer{
display: none;
}

.add_comment{
    display: flex;
    justify-content: space-around;
    padding-top:10px ;
    padding-bottom:15px ;
     justify-self: center;
    width: 100%;
}
.add_comment input{
    width: 500px ;
    height: 40px;
    border-radius: 10px;
}
.add_comment button{
width: 80px;
height: 40px;
border-radius: 15px;
}

.comment{
 justify-self: center;
    width: 100%;
}
.comment_content{
    display: flex;
    
}
.react{
    display: flex;
}
.react button{
    border: none;
    background: none;
}
.react p{
    margin-right: 10px;
}

.container{
    background-color: #FFFFFF;
    border-radius: 16px;

}
.img_prof{
    width: 70px;
    height: 10px;
    /* border-radius: 50%; */
}
.profile_name{
    display: flexbox;
    transform: translateY(-20px);
}
.Name{
    font-size:25px;
    margin-bottom: -7px;
    
}
.post_descripe{
    font-size: 20px;
    margin-left: 20px;
}
.post_img{
display: block;
width: 100%;

}
.post_img img{
    width: 100%;
}
.actives{
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.actives button{
    display: flex;
    background:none;
    border: none;
    height: 37px;
}
.actives button:hover{
cursor: pointer;
}


.post{
    display: block;
    justify-self: center;
    padding: 10px 0;
    width: 55%;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 2px 5px #8d8484;
}
.profile_descripe{
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
}
.container{
    border-radius: 16px;
    margin-bottom: 80px;
}

.img_prof{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.profile_name{
    display: flexbox;
    transform: translateY(-20px);
}
.Name{
    font-size:25px;
    margin-bottom: -7px;
}
.post_descripe{
    font-size: 20px;
    margin-left: 20px;
    margin-top: -20px;
}
.post_img{
display: block;
width: 100%;

}
.post_img img{
    width: 100%;
}
.actives{
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.actives button{
    display: flex;
    background:none;
    border: none;
    height: 37px;
}
.actives button:hover{
cursor: pointer;
}
.list .Edit  {
    border:none;
    background: none;
}
.list .Edit:hover {

cursor: pointer;
}

 
.Eidt_Area textarea{

    border-radius: 10px;
    width:500px;
    height: 60px;
    margin-bottom: 7px;
    padding: 20px;
    border: none;
    box-shadow: 0px 2px 5px #8d8484;
    display: flex;
    justify-self: center;

}
.Eidt_Area .btns{
    height: 40px;
    width: 100%;
    display: flex;
    justify-self: center;
    justify-content: space-between;

}
.Eidt_Area .btns .Savebtn{
    height: 40px;
    border: none;
}


.Eidt_Area{
    
    height: 150px;
    justify-content: center;   
    border: none;
    display: none;
    margin-bottom: 50px;
}
.Savebtn{
    width: 48%;
    background-image:linear-gradient(90deg,#AD46FF,#F6339A);
    color: white;
    height: 30px;
    border-radius: 8px;
}
.Savebtn:hover{
    transform: scale(1.1);

    cursor: pointer;
}
.Cancelbtn{
    width: 48%;
    border-radius: 8px;
    border: none;
}
.Cancelbtn:hover{
    transform: scale(1.1);

    cursor: pointer;
}

@media (max-width: 600px) {
.profile{
   
    width: 90%;

}

.Share{
  
    width: 50%;
}

.links_add{
    width: 90%;
  
}


.Eidt_Area{
    
   width: 100%;
}
.Eidt_Area textarea{
width:100% ;
}
.post{
   
    width: 90%;

}


.img_prof{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


}