nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top:0;
    background-color: white;
    margin-bottom: 100px;
    font-family: sans-serif;
    margin-top: -10px;
    

}
nav .img{
    margin-right: 10px;
    background-image: linear-gradient(150deg,#AD46FF,#F6339A,#2B7FFF );
    
    width: 55px;
    height: 45px;
    border-radius:15px;
    display: inline-flex;
    justify-content: center;
}
nav img{
     width: 30px;
    height: 30px;
    border-radius: 50%;
     display: flex;
    align-self: center;

}
.main_name{
  font-size: 30px;

  flex-grow: 1;
  font-family: sans-serif;
  display: inline-flex;
  align-content: center;
background-image: linear-gradient(90deg,#9810FA,#E60076);
background-clip: text;
color: transparent;
}

.icon{
    margin-left:30px;
}
nav ul {
    display: flex;
    list-style-type: none;   
    align-items: center;
    margin-right: 20px;
}
nav a{
    display: flex;
    text-decoration-line: none;
    color: black ;
    display: flex;
    margin-right: 30px;
   align-items: center;
    width: 80px;
    
    font-size: larger;
}
nav .user{
    margin-left: 15px;
}
nav .logout{
    margin-left: -50px;

}
.logout ,.user{
    background-image:linear-gradient(90deg,#AD46FF,#F6339A);
    width: 120px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-right: 30px;
}
.links .notice{
    display: flex;
}

.links .notice a{
    margin-right: -50px;
}
.links .notice p{
    font-size: 12px;
    transform: translatex(-20px);
    transform: translateY(-10px);


}


.add_post{
    display: flex;
}
.add_post .user{
    height: 80px;
}

.back{
    background-image:linear-gradient(90deg,#C27AFF,#F6339A,#51A2FF);

    height: 200px;
    border-radius: 20px;
}
.profile_detailes{
    padding: 15px;
}
.img_profile{
    display: flex;
    justify-content: space-between;
}
.img_profile .img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 20px;
    border: 5px solid white;
    transform: translateY(-50px);
}
.img_profile a{
     border:1px outset rgb(226, 225, 225);
     box-shadow:  1px 1px  white;
     background: none;
     display: flex;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     margin-top: 10px;
     align-items: center;
     justify-content: center;

}
.img_profile a img{
    width: 40px;
    height: 40px;
   
}
.profile{
    display: inline-flexbox;
    justify-self: center;
      width: 55%;
    margin-bottom: 20px;
}
.descripe{
    margin-top: -55px;
    font-family: sans-serif;
}
.posts_nom{
    display: inline-flex;
    font-size: 20px;
    font-weight: bolder;
}
.btns{
    display: flex;
    justify-content: space-between;
}
.btns a{
    display: block;
    width:90% ;
}
.Editbtn{
    width: 80%;
    height: 50px;
    border-radius: 15px;
    background-image:linear-gradient(90deg,#AD46FF,#F6339A);
    font-size: 20px;
   color: white;
}
.Share{
    border-radius: 15px;
    height: 40px;
    width: 120px;
    border: none;
}

.links_add{
    width: 55%;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.links_add button{
    width: 210px;
    height: 35px;
    border-radius: 10px;
}
.Postsbtn{
    background-image:linear-gradient(90deg,#AD46FF,#F6339A);
    
}
.Mediabtn,.Likesbtn{
    border: none;
    background: none;
}


.post{
    width: 42%;
    margin-bottom: 20px;

}

.profile_descripe2{
    display: flex;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    align-self: center;
    margin-left: 20px;

}
.profile_descripe{
    display: flex;
    justify-content: space-between;
    
}
.options{
    display: flex;
    justify-content: center;
    margin-right: 20px;
    border: none;
    background:none;
}
.options:hover{
    cursor: pointer;
}
.profile_name{
    display: flexbox;
    transform: translateY(-20px);
}
.Name{
    font-size:25px;
    margin-bottom: -7px;
}
.post_descripe{
    font-size: 20px;
    margin-left: 20px;
}
.post_img{
display: block;
width: 100%;
}
.actives{
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.actives button{
    display: flex;
    background:none;
    border: none;
    height: 37px;
}
.actives button:hover{
cursor: pointer;
}
.post{
    display: flexbox;
    justify-self: center;
    border: 2px outset white;
    width: 55%;
    margin-top: 20px;

}
.add_comment{
    display: flex;
    justify-content: space-around;
    padding-top:10px ;
    padding-bottom:15px ;

}
.add_comment input{
    width: 500px ;
    height: 40px;
    border-radius: 10px;
}
.add_comment button{
width: 80px;
height: 40px;
border-radius: 15px;
}

.comment_content{
    display: flex;
}
.react{
    display: flex;
}
.react button{
    border: none;
    background: none;
}
.react p{
    margin-right: 10px;
}