body{
    padding: 0px;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top:0;
    margin-bottom: 100px;
    box-shadow: 0px 2px 2px ;
    height:60px;
    background-color: white;


}
nav .img{
    margin-right: 10px;
    background-image: linear-gradient(150deg,#AD46FF,#F6339A,#2B7FFF );
    
    width: 55px;
    height: 55px;
    border-radius:20px;
    display: inline-flex;
    justify-content: center;
}
nav img{
     width: 30px;
    height: 30px;
    border-radius: 50%;
     display: flex;
    align-self: center;

}
.main_name{
  font-size: 30px;
    z-index: 5;
  flex-grow: 1;
  font-family: sans-serif;
  display: inline-flex;
  align-content: center;
background-image: linear-gradient(90deg,#9810FA,#E60076);
background-clip: text;
color: transparent;
}
nav ul {
    display: flex;
    list-style-type: none;   
    align-items: center;
    margin-right: 20px;
}
nav a{
    text-decoration-line: none;
    color: black ;
    display: flex;
    margin-right: 30px;
    height: 35px;
    width: 80px;
}
.Home,.SignUp{
    background-image:linear-gradient(90deg,#AD46FF,#F6339A);
    width: 120px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
a{
display: flex;
    align-items: center;
    font-size: 23px;
}
 .links{
    display: flex;
    justify-items: space-between;
 }

.icon{
    margin-left: 20px;
}

.post{
    display: block;
    justify-self: center;
    /* border: 2px outset white; */
    width: 45%;
    margin-bottom: 50px;
}
.profile_descripe{
    display: flex;
}
.container{
    border: 2px outset ;

}

.img_prof{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.profile_name{
    display: flexbox;
    transform: translateY(-20px);
}
.Name{
    font-size:25px;
    margin-bottom: -7px;
}
.post_descripe{
    font-size: 20px;
    margin-left: 20px;
    margin-top: -20px;
}
.post_img{
display: block;
width: 100%;

}
.post_img img{
    width: 100%;
}
.actives{
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.actives button{
    display: flex;
    background:none;
    border: none;
    height: 37px;
}
.actives button:hover{
cursor: pointer;
}
