body{
    padding: 0px;
    margin: 0;
    background-image: linear-gradient(150deg,#FAF5FF,#EFF6FF,#FDF2F8);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 6;
    top:0;
    background-color: white;
    margin-bottom: 100px;
    font-family: sans-serif;
    margin-top: -10px;
    padding: 0px 15px;
    height: 50px;
    box-shadow: 0px 3px rgba(109, 104, 104, 0.24);
}
nav .img{
    margin-right: 10px;
    background-image: linear-gradient(150deg,#AD46FF,#F6339A,#2B7FFF );
    width: 55px;
    height: 45px;
    border-radius:15px;
    display: inline-flex;
    justify-content: center;
}
nav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
     display: flex;
    align-self: center;

}
.main_name{
  font-size: 20px;

  flex-grow: 1;
  font-family: sans-serif;
  display: inline-flex;
  align-content: center;
background-image: linear-gradient(90deg,#9810FA,#E60076);
background-clip: text;
color: transparent;
align-self: center;
}

.icon{
    margin-left:30px;
    display: flex;
    
}
.icon .img{
    width: 40px;
    height: 40px;
}
.icon img{
    height: 25px;
}
nav ul {
    display: flex;
    list-style-type: none;   
    align-items: center;
    margin-right: 20px;
}
nav a{
    display: flex;
    text-decoration-line: none;
    color: black ;
    display: flex;
    margin-right: 30px;
   align-items: center;
    width: 80px;
    
}


 .Home,.SignUp{
    background-image:linear-gradient(90deg,#AD46FF,#F6339A);
    width: 90px;
    height: 35px;
    padding-left: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-right: 10px;

}
.Home a,.SignUp a{
color: #FFFFFF;

}

.links a img{
    height: 25px;
    margin: 0 7px;
}
.menu_icon button{
    background: none;
    border: none;
    display: none;
}
.menu{
    width: 100%;
    place-items: center;
        box-shadow: 0px 2px 5px #8d8484;
    margin: auto;
    margin-top: -85px;
    display: none;
    background-color: white;
    z-index: 5;
}
.menu ul{
    list-style-type: none;   
    width: 90%;
}
.menu a{
    text-decoration: none;

}
.menu_Home ,.menu_login,.menu_SignUp{
    width: 90%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    padding-left: 10px ;
    align-items: center;    
    margin-top: 0;
}
.menu_Home img,.menu_login img,.menu_SignUp img{
    width: 30px;
    margin-right: 20px;
}
.menu_login a,.menu_SignUp a{
display: flex;
align-self: center;
font-size: 30px;
color: #4A5565;
}
.menu_Home a{
color: #FFFFFF;
display: flex;
align-self: center;
font-size: 30px;
}
.menu_Home{
      background-image:linear-gradient(90deg,#AD46FF,#F6339A);

}
.post{
    display: block;
    justify-self: center;
    width: 45%;
}
.profile_descripe{
    display: flex;
}
.container{
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 2px 5px #8d8484;
    margin-bottom: -20px;


}

.img_prof{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.profile_name{
    display: flexbox;
    transform: translateY(-20px);
}
.Name{
    font-size:25px;
    margin-bottom: -7px;
}
.post_descripe{
    font-size: 20px;
    margin-left: 20px;
    margin-top: -20px;
}
.post_img{
display: block;
width: 100%;

}
.post_img img{
    width: 100%;
}
.actives{
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.actives button{
    display: flex;
    background:none;
    border: none;
    height: 37px;
}
.actives button:hover{
cursor: pointer;
}
@media (max-width: 600px) {
    .icon{
        margin-left: -10px;
    }
.menu_icon button{ 
    display: inline;
    margin-right: -20px;
}
.Home,.login,.SignUp{
    display: none;
}

.menu{
    position: sticky;
    top: 50px;
    padding-top: 10px;
    

}
.menu .menu_Home ,.menu .menu_login,.menu .menu_SignUp{
    padding-left: 20px;
}

.post{
    width: 90%;
}

}