body{
    padding: 0px;
    margin: 0;
    background-image: linear-gradient(150deg,#FAF5FF,#EFF6FF,#FDF2F8);
}

#loader_general {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(150deg,#FAF5FF,#EFF6FF,#FDF2F8);
    background-color: #2B7FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}
.Elloader {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border: 5px solid #f705f7; 
    border-radius: 50%;
    animation: spin 1s linear infinite;
    background-image: url(imgs/main.svg);

    background-color: #ff46d7;
}

#loader-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 92.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}
.loader {
    width: 50px;
    height: 50px;
   border: 5px solid #c7b0b0;
    border-top: 5px solid #f705f7;
    border-right: 5px solid #f705f7;
    border-bottom: 5px solid #f705f7;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    /* background-image: url(imgs/main.svg);

    background-color: #f808c4; */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);
    
    }
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 6;
    top:0;
    background-color: white;
    margin-bottom: 100px;
    font-family: sans-serif;
    margin-top: -10px;
    padding: 0px 15px;
    height: 50px;
    box-shadow: 0px 3px rgba(109, 104, 104, 0.24);
}
nav .img{
    margin-right: 10px;
    background-image: linear-gradient(150deg,#AD46FF,#F6339A,#2B7FFF );
    width: 55px;
    height: 45px;
    border-radius:15px;
    display: inline-flex;
    justify-content: center;
}
nav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
     display: flex;
    align-self: center;

}
.main_name{
  font-size: 20px;

  flex-grow: 1;
  font-family: sans-serif;
  display: inline-flex;
  align-content: center;
background-image: linear-gradient(90deg,#9810FA,#E60076);
background-clip: text;
color: transparent;
align-self: center;
}

.icon{
    margin-left:30px;
    display: flex;
    
}
.icon .img{
    width: 40px;
    height: 40px;
}
.icon img{
    height: 25px;
}
nav ul {
    display: flex;
    list-style-type: none;   
    align-items: center;
    margin-right: 20px;
}
nav a{
    display: flex;
    text-decoration-line: none;
    color: black ;
    display: flex;
    margin-right: 30px;
   align-items: center;
    width: 80px;
    
}


 .Home,.SignUp{
    background-image:linear-gradient(90deg,#AD46FF,#F6339A);
    width: 90px;
    height: 35px;
    padding-left: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-right: 10px;

}
.Home a,.SignUp a{
color: #FFFFFF;

}

.links a img{
    height: 25px;
    margin: 0 7px;
}
.menu_icon button{
    background: none;
    border: none;
    display: none;
}
.menu_icon button:hover{
  cursor: pointer;
}
.menu{
    width: 100%;
    place-items: center;
        box-shadow: 0px 2px 5px #8d8484;
    margin: auto;
    margin-top: -85px;
    display: none;
    background-color: white;
    z-index: 100;
}
.menu ul{
    list-style-type: none;   
    width: 90%;

    
}
.menu a{
    text-decoration: none;
            font-size:25px;
            font-family:sans-serif;


}
.menu_Home ,.menu_login,.menu_SignUp{
    width: 90%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    padding-left: 10px ;
    align-items: center;    
    margin-top: 0;
    
}
.menu_Home img,.menu_login img,.menu_SignUp img{
    width: 30px;
    margin-right: 20px;
}
.menu_login a,.menu_SignUp a{
display: flex;
align-self: center;
color: #4A5565;
}
.menu_Home a{
color: #FFFFFF;
display: flex;
align-self: center;
}
.menu_Home{
      background-image:linear-gradient(90deg,#AD46FF,#F6339A);

}
.Home:hover,.login:hover,.SignUp:hover{
 transition-duration: 1s;
 transform: scale(1.1);
}

.post{
    display: block;
    justify-self: center;
    width: 45%;
}
.profile_descripe{
    display: flex;
    padding: 20px;
}
.container{
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 2px 5px #8d8484;
    margin-bottom: -20px;
    text-wrap: wrap;


}

.img_prof{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.profile_name{
    display: flexbox;
    transform: translateY(-10px);
    font-size: 16px;

}
.Name{
    font-size:16px;
    font-weight: bold;

    margin-bottom: -7px;
}
.username_created_at{
    display: flex;
}
.post_descripe{
    font-size: 20px;
    margin-left: 20px;
    margin-top: -30px;
}
.post_img{
display: block;
width: 100%;

}
.post_img img{
    width: 100%;
}
.actives{
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.actives button{
    display: flex;
    background:none;
    border: none;
    height: 37px;
}
.actives button:hover{
cursor: pointer;
}
@media (max-width: 600px) {
    .icon{
        margin-left: -10px;
    }
.menu_icon button{ 
    display: inline;
    margin-right: -20px;
}
.Home,.login,.SignUp{
    display: none;
}

.menu{
    position: sticky;
    top: 50px;
    padding-top: 10px;

}
.menu .menu_Home ,.menu .menu_login,.menu .menu_SignUp{
    padding-left: 20px;

}

.post{
    width: 90%;
}

}

@media (min-width: 601px) and (max-width: 700px) {

      .icon{
        margin-left: -10px;
    }
.menu_icon button{ 
    display: inline;
    margin-right: -20px;
}
.Home,.login,.SignUp{
    display: none;
}

.menu{
    position: sticky;
    top: 50px;
    padding-top: 10px;

}
.menu .menu_Home ,.menu .menu_login,.menu .menu_SignUp{
    padding-left: 20px;

}

.post{
    width: 90%;
}
}
@media (min-width: 700px) and (max-width: 1000px) {

.post{
    width: 85%;
}

}

