body{
    padding: 0px;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top:0;
    margin-bottom: 100px;
    box-shadow: 0px 2px 2px ;
    height:60px;


}
nav .img{
    margin-right: 10px;
    background-image: linear-gradient(150deg,#AD46FF,#F6339A,#2B7FFF );
    
    width: 55px;
    height: 55px;
    border-radius:20px;
    display: inline-flex;
    justify-content: center;
}
nav img{
     width: 30px;
    height: 30px;
    border-radius: 50%;
     display: flex;
    align-self: center;

}
.main_name{
  font-size: 30px;
    z-index: 5;
  flex-grow: 1;
  font-family: sans-serif;
  display: inline-flex;
  align-content: center;
background-image: linear-gradient(90deg,#9810FA,#E60076);
background-clip: text;
color: transparent;
}
nav ul {
    display: flex;
    list-style-type: none;   
    align-items: center;
    margin-right: 20px;
}
nav a{
    text-decoration-line: none;
    color: black ;
    display: flex;
    margin-right: 30px;
    height: 35px;
    width: 80px;
}
.Login{
    background-image:linear-gradient(90deg,#AD46FF,#F6339A);
    width: 120px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
a{
display: flex;
    align-items: center;
    font-size: 23px;
}
 .links{
    display: flex;
    justify-items: space-between;
 }

.icon{
    margin-left: 20px;
}

 .container{
    display: flex;
    justify-self: center;
    height: 500px;
 }

.descripe{
    display: inline-flexbox;
    align-content: center;
    width: 600px;
    padding-left: 130px;
}
.descripe_icon{
 font-size: 40px;
  flex-grow: 1;
  font-family: sans-serif;
  display: inline-flex;
  align-items: center;
}
.descripe_icon .img{
    margin-right: 10px;
    background-image: linear-gradient(150deg,#AD46FF,#F6339A,#2B7FFF );
    
    width: 55px;
    height: 55px;
    border-radius:20px;
    display: inline-flex;
    justify-content: center;
}
.descripe_icon img{
     width: 30px;
    height: 30px;
    border-radius: 50%;
     display: flex;
    align-self: center;

}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ff0890;
    opacity: 10%;
    transform: translateX(-50px);
}
.descripe h2{
     font-size: 40px;
  font-family: sans-serif;
}
.descripe p{
    font-size: 22px;
}
form{
    width: 500px;
    border: 2px outset;
    padding: 50px;
  font-family: sans-serif;
  height: auto;
  margin-left: -60px;

}
form h2{
       font-size: 25px;
}
form p{
       font-size: 18px;
}
input{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    padding: 10px;
}
.contain{
    position: relative;
}
.input_icon{
    position: absolute;
    left: 490px;
    transform: translateY(20px);
}
form .loginbtn{
    margin-top: 20px;
    display:block;
     width: 100%;
    height: 35px;
    border-radius: 13px;
    padding: 10px;
    font-size: 30px;
    background-image: linear-gradient(90deg,#AD46FF,#F6339A,#2B7FFF );
    justify-content: center;
    color: white;

    

}
form .loginbtn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
form .link{
    display: flex;
    text-align: center;
    width: 100%;
    font-size: larger;
    padding: auto;
    text-decoration-line: none;
    justify-self: center;

}
form .question{
    display: inline-flex;
}
.question a{
    text-decoration-line: none;
  font-size: inherit;
}
.question p{
    display: inline-flex;

}