
body{ 
    padding: 0px;
    margin: 0;
    background-image: linear-gradient(150deg,#FAF5FF,#EFF6FF,#FDF2F8);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top:0;
    background-color: white;
    margin-bottom: 100px;
    font-family: sans-serif;
    margin-top: -10px;
    padding: 0px 50px;
    height: 50px;
    box-shadow: 0px 3px rgba(109, 104, 104, 0.24);
}
nav .img{
    margin-right: 10px;
    background-image: linear-gradient(150deg,#AD46FF,#F6339A,#2B7FFF );
    width: 55px;
    height: 45px;
    border-radius:15px;
    display: inline-flex;
    justify-content: center;
}
nav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
     display: flex;
    align-self: center;

}
.main_name{
  font-size: 20px;

  flex-grow: 1;
  font-family: sans-serif;
  display: inline-flex;
  align-content: center;
background-image: linear-gradient(90deg,#9810FA,#E60076);
background-clip: text;
color: transparent;
align-self: center;
}

.icon{
    margin-left:30px;
    display: flex;
    
}
.icon .img{
    width: 40px;
    height: 40px;
}
.icon img{
    height: 25px;
}
nav ul {
    display: flex;
    list-style-type: none;   
    align-items: center;
    margin-right: 20px;
}
nav a{
    display: flex;
    text-decoration-line: none;
    color: black ;
    display: flex;
    margin-right: 30px;
   align-items: center;
    width: 80px;
    
}
nav .user_img{
    margin-left: 15px;
}

.logout {
    background-image:linear-gradient(90deg,#AD46FF,#F6339A);
    width: 105px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    color: #FFFFFF;
}
nav .logout{
    margin-left: -50px;
    width: 105px;
}
.links .notice{
    display: flex;
}

.links .notice a{
    margin-right: -50px;
}
.links .notice p{
    font-size: 12px;
    transform: translatex(-20px);
    transform: translateY(-10px);


}
.links a img{
    height: 25px;
}

.menu_icon button{
    background: none;
    border: none;
    display: none;
}
.menu{
    width: 100%;
    place-items: center;
        box-shadow: 0px 2px 5px #8d8484;
    margin: auto;
    margin-top: -85px;
    display: none;
    background-color: white;
    z-index: 100;
}
.menu ul{
    list-style-type: none;   
    width: 90%;

    
}
.menu a{
    text-decoration: none;
            font-size:25px;
            font-family:sans-serif;


}
.menu_Home ,.menu_login,.menu_SignUp{
    width: 90%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    padding-left: 10px ;
    align-items: center;    
    margin-top: 0;
    
}
.menu_Home img,.menu_login img,.menu_SignUp img{
    width: 30px;
    margin-right: 20px;
}
.menu_login a,.menu_SignUp a{
display: flex;
align-self: center;
color: #4A5565;
}
.menu_login a{
color: #FFFFFF;
display: flex;
align-self: center;
}
.menu_login{
      background-image:linear-gradient(90deg,#AD46FF,#F6339A);

}

.profile{
    display: inline-flexbox;
    justify-self: center;
      width: 50%;
      height: 650px;
    margin-bottom: 100px;
    font-family: sans-serif;
    box-shadow: 0px 2px 5px #8d8484;
    border-radius: 25px 25px 20px 20px;
    color: #364153;
    background-color: #FFFFFF;
}

.back{
    background-image:linear-gradient(90deg,#AD46FF,#F6339A,#2B7FFF);
    padding: 30px 30px 0 30px;
    height: 88px;
    border-radius: 25px 25px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.back p{
    color: white;
    font-size: 25px;
}
.back button{
    background: none;
    border: none;
}

.profile_detailes{
    padding: 30px;
}

.profile_detailes input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    border: 2px solid rgb(185, 177, 177);
  display: flex;
  justify-self: center;
   padding-left: 10px;
   
}

.contain{
    position: relative;
}
.input_icon{
    position: absolute;
    left: 650px;
    transform: translatex(-85px);
    margin-top: 7px;
}
.img_profile .img{
    width: 70px;
    
}
.img_profile button{
 background-color: #AD46FF;
 border: none;
 width: 30px;
 height: 30px;
 border-radius: 50%;
 transform: translateX(-25px);
 margin-bottom: 30px;
}
.btns{
    display: flex;
    justify-content: space-between;
    height: 40px;

}
.btns .save{
    width: 83%;
    border-radius: 10px;
    background-image:linear-gradient(90deg,#AD46FF,#F6339A);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.btns .save:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.btns .cancel{
    border: none;
    width: 15%;
    border-radius: 10px;
    color: #364153;
}
.btns .cancel:hover{
    cursor: pointer;
    transform: scale(1.1);
}
@media (max-width: 600px) {
    .body{
        overflow: hidden;
    }
  .icon{
        margin-left: -40px;
    }
    
    .main_name{
        display: none;
    }
    .notice{
        margin-left: 130px;
    }

.eluser{
    margin-right: -10px;
}
.Homey,.logouty,.profily{
    display: none;
}

.menu{
    position: sticky;
    top: 50px;
    padding-top: 10px;
    width: 99%;

}
.menu .menu_Home ,.menu .menu_login,.menu .menu_SignUp{
    padding-left: 20px;

}
.links{
    
    margin-left: -20px;

}
.menu_icon button{ 
    display: inline;
    margin-left: -50px;
}
.profile{
width: 90%;
height: auto;

}

.input_icon{
    position: absolute;
    left: 350px;
    margin-top: 7px;
}
.btns .cancel{
    width: 50%;
    margin-left: 10px;
   
}

}