 nav{
    display: flex;
 }
 ul{
    display: flex;
 }
 
 img{
    background-color:blueviolet;
}
.add_post{
    background-color: chartreuse;
    display: flex;
}
.post{
    background-color: aquamarine;
}
.profile_descripe{
    display: flex;
}
.post_img{
display: block;
}
.actives{
    display: flex;
}
.add_comment{
    background-color: rgb(131, 255, 127);
}
.comment{
    background-color: burlywood;
}
.comment_content{
    display: flex;
}
.react{
    display: flex;

}