 nav{
    display: flex;
 }
 ul{
    display: flex;
 }
 

.add_post{
    background-color: chartreuse;
    display: flex;
}

.postbtn{
    width: 105px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    
}
.postbtn img{
    height: 20px;
    width: 30px;
    margin-left: 10px;
}
.post{
    background-color: aquamarine;
}
.profile_descripe{
    display: flex;
}
.post_img{
display: block;
}
.actives{
    display: flex;
}
.add_comment{
    background-color: rgb(131, 255, 127);
}
.comment{
    background-color: burlywood;
}
.comment_content{
    display: flex;
}
.react{
    display: flex;

}