nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top:0;
    background-color: white;
    margin-bottom: 100px;
    font-family: sans-serif;
    margin-top: -10px;
    

}
nav .img{
    margin-right: 10px;
    background-image: linear-gradient(150deg,#AD46FF,#F6339A,#2B7FFF );
    
    width: 55px;
    height: 45px;
    border-radius:15px;
    display: inline-flex;
    justify-content: center;
}
nav img{
     width: 30px;
    height: 30px;
    border-radius: 50%;
     display: flex;
    align-self: center;

}
.main_name{
  font-size: 30px;

  flex-grow: 1;
  font-family: sans-serif;
  display: inline-flex;
  align-content: center;
background-image: linear-gradient(90deg,#9810FA,#E60076);
background-clip: text;
color: transparent;
}

.icon{
    margin-left:30px;
}
nav ul {
    display: flex;
    list-style-type: none;   
    align-items: center;
    margin-right: 20px;
}
nav a{
    display: flex;
    text-decoration-line: none;
    color: black ;
    display: flex;
    margin-right: 30px;
   align-items: center;
    width: 80px;
    
    font-size: larger;
}
nav .user{
    margin-left: 15px;
}
nav .logout{
    margin-left: -50px;

}
.logout ,.Home{
    background-image:linear-gradient(90deg,#AD46FF,#F6339A);
    width: 120px;
    height: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
.links .notice{
    display: flex;
}

.links .notice a{
    margin-right: -50px;
}
.links .notice p{
    font-size: 12px;
    transform: translatex(-20px);
    transform: translateY(-10px);


}

.img_of_new_post:hover{
    cursor: pointer;
}
.add_post{
    display: flex;
    justify-self: center;
    margin-bottom: 40px;
    background-color: white;
    width: 45%;
    height: 210px;
    padding: 20px;
    border-radius: 10px;
    border: 2px black outset;
}
.Eidt_Area{
    width: 90%;
    height: 150px;
    justify-content: center;   
    border: none;
    display: none;
}
.Savebtn{
    width: 48%;
    background-image:linear-gradient(90deg,#AD46FF,#F6339A);
    color: white;
    height: 30px;
    border-radius: 8px;
}
.Savebtn:hover{
    transform: scale(1.1);

    cursor: pointer;
}
.Cancelbtn{
    width: 48%;
    border-radius: 8px;
    border: none;
}
.Cancelbtn:hover{
    transform: scale(1.1);

    cursor: pointer;
}
.add_post .img{
    height: 70px;
    width: 70px;
}
.add_post textarea{

    border-radius: 10px;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    padding: 20px;
}
form{
    width: 80%;
    background-color: white;
}
.Add_Image{
    width: 150px;
    height: 36px;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    font-size: 20px;
    color: #9810FA;
    transform: translateX(-250px);
    font-family: sans-serif;
}
.Add_Image img{
    width: 30px;
    margin-right: 10px;
}
.Add_Image span{
    width: 100px;
}
.Add_Image:hover{
    cursor: pointer;
}
.btns input{
    opacity: 0;
    transform: translateX(0px);
    z-index: 1;

}
.postbtn{
    width: 105px;
    height: 40px;
    border-radius: 10px;
    margin-left: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-image: linear-gradient(90deg,#AD46FF,#F6339A);
    opacity: 50%;
    color: white;
}
.postbtn img{
    height: 20px;
    width: 30px;
    margin-left: 10px;
}
.postbtn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.btns{
    display: flex;
    justify-content: space-between;
    width: 110%;
}


.profile_descripe2{
    display: flex;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    align-self: center;
    margin-left: 20px;

}
.profile_descripe{
    display: flex;
    justify-content: space-between;
    
}
.email{
    margin-top: -1px;

}
.created_at{
    margin-top: -20px;
}
.options{
    display: flex;
    justify-content: center;
    margin-right: 20px;
    border: none;
    background:none;
}
.options:hover{
    cursor: pointer;
}

.list{
    width: auto;
    height: auto;
    background-color: white;
    border: black 2px solid;
    transform: translateY(-70px);
    display: block;
    justify-self: end;
    margin-right: 20px;
    padding: 10px;
    display: none;
    z-index: 5;
}
.list .Edit,.list .Delete,.list .Share{
    display: flex;

    text-decoration-line: none;
}
.list img{
    margin-right: 5px;
}
.list .Delete {
    background: none;
    border: none;
    color: red;
}
.list .Delete:hover {

cursor: pointer;
}
/* 

.profile_name{
    display: flexbox;
    transform: translateY(-20px);
}
.Name{
    font-size:25px;
    margin-bottom: -7px;
}
.post_descripe{
    font-size: 20px;
    margin-left: 20px;
}
.list{
    width: auto;
    height: auto;
    background-color: white;
    border: black 2px solid;
    transform: translateY(-70px);
    display: block;
    justify-self: end;
    margin-right: 20px;
    padding: 10px;
    display: none;
    z-index: 4;
}
.list .Edit,.list .Delete,.list .Share{
    display: flex;

    text-decoration-line: none;
}
.list img{
    margin-right: 5px;
}
.list .Delete{
    color: red;
}

.post_img{
display: block;
width: 100%;
}
.actives{
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.actives button{
    display: flex;
    background:none;
    border: none;
    height: 37px;
}
.actives button:hover{
cursor: pointer;
}
.post{
    display: flexbox;
    justify-self: center;
    border: 2px outset white;
}
.commentcontainer{
display: none;
}

.add_comment{
    display: flex;
    justify-content: space-around;
    padding-top:10px ;
    padding-bottom:15px ;
     justify-self: center;
    width: 100%;
}
.add_comment input{
    width: 500px ;
    height: 40px;
    border-radius: 10px;
}
.add_comment button{
width: 80px;
height: 40px;
border-radius: 15px;
}

.comment{
 justify-self: center;
    width: 100%;
}
.comment_content{
    display: flex;
    
}
.react{
    display: flex;
}
.react button{
    border: none;
    background: none;
}
.react p{
    margin-right: 10px;
} */

.commentcontainer{
display: none;
}

.add_comment{
    display: flex;
    justify-content: space-around;
    padding-top:10px ;
    padding-bottom:15px ;
     justify-self: center;
    width: 100%;
}
.add_comment input{
    width: 500px ;
    height: 40px;
    border-radius: 10px;
}
.add_comment button{
width: 80px;
height: 40px;
border-radius: 15px;
}

.comment{
 justify-self: center;
    width: 100%;
}
.comment_content{
    display: flex;
    
}
.react{
    display: flex;
}
.react button{
    border: none;
    background: none;
}
.react p{
    margin-right: 10px;
}

.post{
    display: block;
    justify-self: center;
    border: 2px outset white;
    width: 70%;
    margin-bottom: 50px;
}

.container{
    border: 2px outset ;
    
}

.img_prof{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.profile_name{
    display: flexbox;
    transform: translateY(-20px);
}
.Name{
    font-size:25px;
    margin-bottom: -7px;
    
}
.post_descripe{
    font-size: 20px;
    margin-left: 20px;
}
.post_img{
display: block;
width: 100%;

}
.post_img img{
    width: 100%;
}
.actives{
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.actives button{
    display: flex;
    background:none;
    border: none;
    height: 37px;
}
.actives button:hover{
cursor: pointer;
}
.list .Edit  {
    border:none;
    background: none;
}
.list .Edit:hover {

cursor: pointer;
}