body{
    padding: 0px;
    margin: 0;
}
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top:0;
    background-color: white;
    margin-bottom: 100px;
    font-family: sans-serif;
    margin-top: -10px;
    padding: 0px 15px;
    height: 64px;
    box-shadow: 0px 3px rgba(109, 104, 104, 0.24);
}
nav .img{
    margin-right: 10px;
    background-image: linear-gradient(150deg,#AD46FF,#F6339A,#2B7FFF );
    width: 55px;
    height: 45px;
    border-radius:15px;
    display: inline-flex;
    justify-content: center;
}
nav img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
     display: flex;
    align-self: center;

}
.main_name{
  font-size: 20px;

  flex-grow: 1;
  font-family: sans-serif;
  display: inline-flex;
  align-content: center;
background-image: linear-gradient(90deg,#9810FA,#E60076);
background-clip: text;
color: transparent;
align-self: center;
}

.icon{
    margin-left:30px;
    display: flex;
    
}
.icon .img{
    width: 40px;
    height: 40px;
}
.icon img{
    height: 25px;
}
nav ul {
    display: flex;
    list-style-type: none;   
    align-items: center;
    margin-right: 20px;
}
nav a{
    display: flex;
    text-decoration-line: none;
    color: black ;
    display: flex;
    margin-right: 30px;
   align-items: center;
    width: 80px;
    
}


 .signup{
    background-image:linear-gradient(90deg,#AD46FF,#F6339A);
    width: 90px;
    height: 35px;
    padding-left: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-right: 10px;

}
.signup a{
color: #FFFFFF;

}
.Home:hover,.login:hover,.SignUp:hover{
 transition-duration: 1s;
 transform: scale(1.1);
}

.links a img{
    height: 25px;
    margin: 0 7px;
}

.menu_icon button{
    background: none;
    border: none;
    display: none;
}
.menu_icon button:hover{
  cursor: pointer;
}

.menu{
    width: 100%;
    place-items: center;
    box-shadow: 0px 2px 5px #8d8484;
    margin: auto;
    margin-top: -90px;
    display: none;
    background-color: white;
    z-index: 100;
    height: 250px;
}
.menu ul{
    list-style-type: none;   
    width: 90%;

    
}
.menu a{
    text-decoration: none;
            font-size:25px;
            font-family:sans-serif;


}
.menu_Home ,.menu_login,.menu_SignUp{
    width: 90%;
    height: 50px;
    border-radius: 17px;
    display: flex;
    justify-content: start;
    padding-left: 10px ;
    align-items: center;    
    margin-top: 0;
    margin-bottom: 20px;

    
}
.menu_Home img,.menu_login img,.menu_SignUp img{
    width: 30px;
    margin-right: 20px;
}
.menu_Home a,.menu_login a{
display: flex;
align-self: center;
color: #4A5565;
}
.menu_SignUp a{
color: #FFFFFF;
display: flex;
align-self: center;
}

.menu_SignUp
{
      background-image:linear-gradient(90deg,#AD46FF,#F6339A);
    box-shadow:0px 2px 7px #4A5565;

}

 .container{
    display: flex;
    justify-self: center;
    height: auto;
    margin-bottom: 200px;
    margin-left: -50px;
 }

.descripe{
    display: inline-flexbox;
    align-content: center;
    width: 50%;
    padding-left: 130px;
  z-index: -5;

}
.descripe_icon{
 font-size: 40px;
  flex-grow: 1;
  font-family: sans-serif;
  display: inline-flex;
  align-items: center;
}
.descripe_icon .img{
    margin-right: 10px;
    background-image: linear-gradient(150deg,#AD46FF,#F6339A,#2B7FFF );
    
    width: 55px;
    height: 55px;
    border-radius:20px;
    display: inline-flex;
    justify-content: center;
}
.descripe_icon img{
     width: 30px;
    height: 30px;
    border-radius: 50%;
     display: flex;
    align-self: center;

}
.descripo{
    display: flex;

}
.descripe h2{
     font-size: 40px;
  font-family: serif;
  margin-bottom: -10px;
}
.descripe p{
    font-size: 22px;
color: #4A5565;

}

 .circle{
background-image: linear-gradient(90deg,#51A2FF,#C27AFF);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transform: translateX(-50px);
    opacity: 40%;
    z-index: -10;
}
.squire{
background-image: linear-gradient(150deg,#C27AFF,#FB64B6);
     transform: translateX(30px);
    width: 85px;
    height: 85px;
    border-radius: 15px;
    opacity: 40%;
    transform: rotate(10deg)
    

}

form{
    width: 40%;
    border: 2px outset;
    padding:15px 50px;
  font-family: sans-serif;
  height: auto;
  margin-left: -60px;
      box-shadow: 0px 2px 5px #8d8484;
  border: none;
  border-radius: 20px;
         color: #4A5565;


}

form h2{
       font-size: 25px;
       color: black;
}
form p{
       font-size: 18px;

}
label{
        font-size: 17px;

}
input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: none;
    border: 1.5px solid rgb(214, 209, 209);
    margin-bottom: -10px;
    margin-top: 15px;
    margin-bottom: 10px;
}
input:focus{
    outline-color: #ca09f1;
    box-shadow:0px 3px  5px #f109e5;
}

#Profile_Image2{
    z-index: 2;
    transform: translateY(-95px);
    opacity: 0;
    width: 80%;
}
#Profile_Image2:hover{
    cursor: pointer;
}


form .Create_Account{
    display:flex;
     width: 90%;
    height: 40px;
    border-radius: 13px;
    padding: 10px;
    font-size: 20px;
    background-image: linear-gradient(90deg,#AD46FF,#F6339A,#2B7FFF );
    justify-content: center;
    color: white;
    justify-self: center;
    margin-top: -85px;
    border: none;

    

}

form .Create_Account:hover{
    cursor: pointer;
    transition-duration: 1s;
 transform: scale(1.1);
}

form .link{
    display: flex;
    text-align: center;
    font-size: larger;
    padding: auto;
    text-decoration-line: none;

}
form .question{
    display:flex;
    justify-self: center;
}
.question a{
text-decoration-line: none;
  font-size: inherit;
}
.question p{
    display: inline-flex;

}
.contain{
    position: relative;
    display: flex;
    align-items: center;
}
.input_icon{
    position: absolute;
   right: 10px;
   top: 40%;
}
@media (max-width: 600px) {
body{
    margin: 0;
}
  .icon{
        margin-left: -10px;
    }
.menu_icon button{ 
    display: inline;
    margin-right: -20px;
}
.Home,.login,.SignUp{
    display: none;
}

.menu{
    position: sticky;
    top: 60px;
    padding-top: 10px;
    width: 98%;

}
.menu .menu_Home ,.menu .menu_login,.menu .menu_SignUp{
    padding-left: 20px;

}
.container {
    width: 100%;
    display: grid;
    grid-template-columns:repeat(1,100%);
    justify-items: center;
    justify-content: center;
    margin: auto;
 }

.icon .img{
    margin-left: 20px;
    
    border-radius: 15px;
}

.main_name{
    display: none;
}
.descripe {
display: none;
}

form {
    width: 85%;
    margin-top: 20px;
    box-sizing: border-box; 
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;

}

input{
    height: 20px;
    
}





.question p{
    display: inline-flex;
    margin-left: -70px;
    margin-top: 20px;

}
form .Create_Account{
width: 100%;
}
}
@media (min-width: 601px) and (max-width: 700px) {


.icon .img{
    margin-left: 20px;
   
    border-radius: 15px;
}

.main_name{
    display: none;
}
body{
    margin: 0;
}
  .icon{
        margin-left: -10px;
    }
.menu_icon button{ 
    display: inline;
    margin-right: -20px;
}
.Home,.login,.SignUp{
    display: none;
}

.menu{
    position: sticky;
    top: 60px;
    padding-top: 10px;

}
.menu .menu_Home ,.menu .menu_login,.menu .menu_SignUp{
    padding-left: 20px;

}

}

@media (min-width: 601px) and (max-width: 1000px) {

.container {
    width: 100%;
    display: grid;
    grid-template-columns:repeat(1,100%);
    justify-items: center;
    justify-content: center;
    margin: auto;
 }
form {
    width: 60%;
    margin-top: 20px;
    box-sizing: border-box; 
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;

}
.descripe{
    width: 60%;
    padding: 0;
}
}

@media (min-width: 1001px) and (max-width: 1200px) {
.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.descripe{
    width: 50%;
    margin-right: 50px;
}

form{
    width: 30%;
}
}